In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
import statsmodels.stats.api as sms
from statsmodels.compat import lzip
from sklearn.preprocessing import StandardScaler
import statsmodels.formula.api as smf
from sklearn.model_selection import train_test_split, KFold, cross_val_score

import numpy as np
import pandas as pd
from pandas import DataFrame,Series
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statsmodels.formula.api as smf
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

from sklearn.decomposition import PCA

In [2]:
train=pd.read_csv('train.csv')

test=pd.read_csv('test.csv')

In [3]:
train.isnull().sum()

Year                          0
Month                         0
ProductCategory               0
Sales(In ThousandDollars)    12
dtype: int64

In [5]:
#dropping the null values

train.dropna(inplace=True)

In [6]:
#importing data macro

macro=pd.read_excel("macro_economic.xlsx")

In [7]:
macro.head()

,Year-Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports
0,2009 - Jan,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550
1,2009 - Feb,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100
2,2009 - Mar,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650
3,2009 - Apr,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225
4,2009 - May,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300

splitting the year and month

In [8]:
Year=[]
Month=[]
for i in range(len(macro['Year-Month'])):
    Year.append(macro['Year-Month'][i].split('-')[0])
    Month.append(macro['Year-Month'][i].split('-')[1])
    
    
print(Year)
print(Month)

['2009 ', '2009 ', '2009 ', '2009 ', '2009 ', '2009 ', '2009 ', '2009 ', '2009 ', '2009 ', '2009 ', '2009 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2010 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2011 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2012 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2013 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2014 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2015 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ', '2016 ']
[' Jan', ' Feb', ' Mar', ' Apr', ' May', ' Jun', ' Jul', ' Aug', ' Sep', ' Oct', ' Nov', ' Dec', ' Jan', ' Feb', ' Mar', ' Apr', ' May', ' Jun', ' Jul', ' Aug', ' Sep', ' Oct', ' Nov', ' Dec', ' Jan', ' Feb', ' Mar', ' Apr', ' May', ' Jun', ' Jul', ' Aug', ' Sep', ' Oct', ' Nov', ' Dec', ' Jan', ' Feb', ' Mar', ' Apr', ' May', ' Jun', ' Jul', ' Aug', ' Sep', ' Oct', ' Nov', ' Dec', ' Jan', ' Feb', ' Mar', ' Apr', ' May', ' Jun', ' Jul', ' Aug', ' Sep', ' Oct', ' Nov', ' Dec', ' Jan', ' Feb', ' Mar', ' Apr', ' May', ' Jun', ' Jul', ' Aug', ' Sep', ' Oct', ' Nov', ' Dec', ' Jan', ' Feb', ' Mar', ' Apr', ' May', ' Jun', ' Jul', ' Aug', ' Sep', ' Oct', ' Nov', ' Dec', ' Jan', ' Feb', ' Mar', ' Apr', ' May', ' Jun', ' Jul', ' Aug', ' Sep', ' Oct', ' Nov', ' Dec']

In [9]:
macro.drop('Year-Month',inplace=True,axis=1)
macro['Year']=Year
macro['Month']=Month

In [10]:
macro.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,PartyInPower,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,AdvertisingExpenses (in Thousand Dollars),Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,Year,Month
0,14421.752895,14407.053343,233.402,Democrats,7.8,12.03,11.44,22.05,137,57.70,4.02,9.296,7.559,799,12.589,4.17,11.550,2009,Jan
1,14389.200466,14366.176571,234.663,Democrats,8.3,12.97,11.05,22.22,200,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.100,2009,Feb
2,14340.701639,14351.786822,235.067,Democrats,8.7,12.97,11.05,22.22,?,51.50,-6.72,9.296,7.559,799,12.589,3.72,11.650,2009,Mar
3,14326.815525,14351.601731,235.582,Democrats,9.0,12.97,11.05,22.13,214,56.78,10.25,9.296,7.559,787,12.400,3.62,12.225,2009,Apr
4,14345.904809,14368.123959,235.975,Democrats,9.4,13.32,11.25,22.04,?,61.95,9.11,9.297,7.400,803,12.384,3.52,12.300,2009,May

In [11]:
month=[' Jan',' Feb',' Mar',' Apr',' May',' Jun',' Jul',' Aug',' Sep',' Oct',' Nov',' Dec']
for i in range(len(month)):
    macro['Month'].replace({month[i]:i+1},inplace=True)

In [12]:
macro['Year']=macro['Year'].astype(int)

In [13]:
all_=pd.concat([test,train],axis=0,sort=False)

In [14]:
macro['Year']=macro['Year'].astype(int)

In [15]:
data=pd.merge(all_,macro)

# Dropping the categorical columns which are not required

In [16]:
data.drop('PartyInPower',inplace=True,axis=1)
data.drop('AdvertisingExpenses (in Thousand Dollars)',inplace=True,axis=1)

# Replacing the categorical columns with numerical

In [17]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

ProductCategory=lb.fit_transform(data['ProductCategory'])
data.drop('ProductCategory',axis=1,inplace=True)
data['ProductCategory']=ProductCategory

# Splitting the data back to test and train

In [18]:
test=data.loc[:35,:]
test.shape

(36, 19)

In [19]:
train=data.loc[36:,:]
train.shape

(204, 19)

# Train Test Split

In [21]:
x=train.drop('Sales(In ThousandDollars)',axis=1)
y=train['Sales(In ThousandDollars)']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=30)

# Linear Regression

In [22]:
lm=LinearRegression()
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
ypred=lm.predict(x_test)

In [24]:
RMSE_train = np.sqrt(metrics.mean_squared_error(ypred,y_test))
RMSE_train

623.1501107918934

In [25]:

ProductCategory=lb.fit_transform(test['ProductCategory'])
test.drop('ProductCategory',axis=1,inplace=True)
test['ProductCategory']=ProductCategory

test.drop('Sales(In ThousandDollars)',inplace=True,axis=1)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
lm.predict(test)

array([3350.31609837,  750.92652264, 2050.62131051, 3408.05697766,
        808.66740193, 2108.3621898 , 3665.83666903, 1066.4470933 ,
       2366.14188116, 3654.55442027, 1055.16484453, 2354.8596324 ,
       3820.94507183, 1221.55549609, 2521.25028396, 3762.76946881,
       1163.37989307, 2463.07468094, 3919.05542477, 1319.66584903,
       2619.3606369 , 4027.65198567, 1428.26240993, 2727.9571978 ,
       3945.6343737 , 1346.24479797, 2645.93958583, 4108.04471534,
       1508.65513961, 2808.34992748, 4237.9990969 , 1638.60952117,
       2938.30430903, 4466.00565876, 1866.61608303, 3166.31087089])

# RandomForestRegressor

In [27]:
from sklearn.ensemble import RandomForestRegressor
RF=RandomForestRegressor(random_state=400,max_depth=7)

# Scaling the Data

In [28]:
from sklearn.preprocessing import StandardScaler

sc=StandardScaler()

x_train = sc.fit_transform(x_train) 
x_test = sc.transform(x_test) 
  


RF.fit(x_train,y_train)

//anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=7,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=400, verbose=0,
                      warm_start=False)

In [31]:
y_pred_rand=RF.predict(x_test)
RMSE1= np.sqrt(metrics.mean_squared_error(y_pred_rand,y_test))
RMSE1

250.45706535501287

# PCA (principal component analysis)

In [32]:
pca = PCA(n_components = 2,random_state=10) 
  
x_train1 = pca.fit_transform(x_train) 
x_test1 = pca.transform(x_test) 
  
explained_variance = pca.explained_variance_ratio_
explained_variance

array([0.43330713, 0.19061536])

# Using PCA applied columns in Ensemble methods

In [33]:
from sklearn.ensemble import GradientBoostingRegressor
model_3 = GradientBoostingRegressor(n_estimators=2)
model_3.fit(x_train1,y_train)
y_pred1=model_3.predict(x_test1)

In [34]:
RMSE_train = np.sqrt(metrics.mean_squared_error(y_pred1,y_test))
RMSE_train

1223.0002960477002

# ExtraTreeRegressor

In [35]:
from sklearn.tree import ExtraTreeRegressor

In [36]:
ex=ExtraTreeRegressor()
ex.fit(x_train,y_train)

ExtraTreeRegressor(criterion='mse', max_depth=None, max_features='auto',
                   max_leaf_nodes=None, min_impurity_decrease=0.0,
                   min_impurity_split=None, min_samples_leaf=1,
                   min_samples_split=2, min_weight_fraction_leaf=0.0,
                   random_state=None, splitter='random')

In [37]:
e=ex.predict(x_test)

In [38]:
RMSE_train = np.sqrt(metrics.mean_squared_error(e,y_test))
RMSE_train

432.7208926868934

# GridSearchCV

In [74]:
from sklearn.model_selection import GridSearchCV

param_grid = {'min_samples_split':[2,10,20],\
              'max_depth':[None,2,5,10],'min_samples_leaf':[1,5,10],'max_leaf_nodes':[None,5,10,20]}
clf1 = GridSearchCV(RF,param_grid,cv=2)
clf1.fit(x_train,y_train)

GridSearchCV(cv=2, error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=7, max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=10, n_jobs=None,
                                             oob_score=False, random_state=400,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [None, 2, 5, 10],
                         'max_leaf_nodes': [None, 5, 10, 20],
                         'min_samples_leaf': [1, 5, 10],
                         'min_samples_split': [2, 10, 20]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [75]:
c=clf1.predict(x_test)

In [76]:
RMSE_train = np.sqrt(metrics.mean_squared_error(c,y_test))
RMSE_train

299.73280619544795

# KNeighborsRegressor with GridSearchCV

In [39]:
from sklearn.neighbors import KNeighborsRegressor

In [78]:
param_grid = {'n_neighbors' : [3,5,7,9],'metric' : ['euclidean','manhattan','minkowski']}
knn = KNeighborsRegressor()
clf1 = GridSearchCV(knn,param_grid,cv=2)
clf1.fit(x_train,y_train)

GridSearchCV(cv=2, error_score='raise-deprecating',
             estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                           metric='minkowski',
                                           metric_params=None, n_jobs=None,
                                           n_neighbors=5, p=2,
                                           weights='uniform'),
             iid='warn', n_jobs=None,
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski'],
                         'n_neighbors': [3, 5, 7, 9]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [79]:
k=clf1.predict(x_test)

In [80]:
RMSE_train = np.sqrt(metrics.mean_squared_error(k,y_test))
RMSE_train

1058.3562222945607

# AdaBoostRegressor

In [40]:
from sklearn.ensemble import AdaBoostRegressor
model_2 = AdaBoostRegressor(random_state=40)
model_2.fit(x_train,y_train)
model_2.score(x_test,y_test)

0.9364934326450183

In [41]:
a=model_2.predict(x_test)

In [42]:
RMSE_train = np.sqrt(metrics.mean_squared_error(a,y_test))
RMSE_train

309.2316450193763

# PolynomialFeatures

In [43]:
from sklearn.preprocessing import PolynomialFeatures

In [44]:
poly = PolynomialFeatures() 
X_poly = poly.fit_transform(x_train) 
Xt_poly = poly.transform(x_test)
tt=poly.fit_transform(test)
 
lin2 = LinearRegression() 
lin2.fit(X_poly,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
RMSE_train = np.sqrt(metrics.mean_squared_error(a,y_test))
RMSE_train

309.2316450193763

# Weather

In [46]:
we=pd.read_csv("modified_weather.csv")

In [47]:
we.head()

,Year,Month,Temp avg (°C),Dew Point avg (°C),Humidity (%) avg,Sea Level Press. (hPa) avg,Visibility (km) avg,Wind (km/h) avg,Precip. (mm) sum
0,2009,1,-2.033333,-9.766667,57.600000,1016.000000,13.933333,11.933333,2.911538
1,2009,2,2.785714,-6.392857,54.000000,1017.071429,15.178571,12.214286,0.840385
2,2009,3,0.376190,-8.079762,55.800000,1016.535714,14.555952,12.073810,1.875962
3,2009,4,12.896552,2.482759,54.758621,1014.310345,14.137931,11.379310,4.230000
4,2009,5,3.506281,-5.439132,55.539655,1015.979372,14.451447,11.900185,2.464471

In [48]:
we['Year'].unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015])

In [49]:
train.head()

,Year,Month,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),Average upland harvested(million acres),yieldperharvested acre,Production (in 480-lb netweright in million bales),Mill use (in 480-lb netweright in million bales),Exports,ProductCategory
36,2009,1,1755.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,2
37,2009,1,524.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,0
38,2009,1,936.0,14421.752895,14407.053343,233.402,7.8,12.03,11.44,22.05,57.70,4.02,9.296,7.559,799,12.589,4.17,11.55,1
39,2009,2,1729.0,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,2
40,2009,2,496.0,14389.200466,14366.176571,234.663,8.3,12.97,11.05,22.22,55.21,-4.32,9.296,7.559,799,12.589,3.87,11.10,0

In [74]:
all2=pd.merge(data,we)

In [75]:
all_.head()

   Year  Month ProductCategory  Sales(In ThousandDollars)
0  2015      1   WomenClothing                        NaN
1  2015      1     MenClothing                        NaN
2  2015      1   OtherClothing                        NaN
3  2015      2   WomenClothing                        NaN
4  2015      2     MenClothing                        NaN

In [76]:
all2.isnull().sum()

Year                                                                  0
Month                                                                 0
Sales(In ThousandDollars)                                            36
Monthly Nominal GDP Index (inMillion$)                                0
Monthly Real GDP Index (inMillion$)                                   0
CPI                                                                   0
unemployment rate                                                     0
CommercialBankInterestRateonCreditCardPlans                           0
Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan     0
Earnings or wages  in dollars per hour                                0
Cotton Monthly Price - US cents per Pound(lbs)                        0
Change(in%)                                                           0
Average upland planted(million acres)                                 0
Average upland harvested(million acres)                               0
yieldperharvested acre                                                0
Production (in  480-lb netweright in million bales)                   0
Mill use  (in  480-lb netweright in million bales)                    0
Exports                                                               0
ProductCategory                                                       0
Temp avg (°C)                                                         0
Dew Point avg (°C)                                                    0
Humidity (%) avg                                                      0
Sea Level Press. (hPa) avg                                            0
Visibility (km) avg                                                   0
Wind (km/h) avg                                                       0
Precip. (mm) sum                                                      0
dtype: int64

In [77]:
test1=all2.loc[:35,:]
test1.shape

(36, 26)

In [78]:
train1=all2.loc[36:,:]
train1.shape

(204, 26)

In [79]:
test1.head()

,Year,Month,Sales(In ThousandDollars),Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,...,Mill use (in 480-lb netweright in million bales),Exports,ProductCategory,Temp avg (°C),Dew Point avg (°C),Humidity (%) avg,Sea Level Press. (hPa) avg,Visibility (km) avg,Wind (km/h) avg,Precip. (mm) sum
0,2015,1,NaN,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,...,3.775,9.45,2,-1.032258,-9.612903,53.645161,1019.387097,13.032258,11.677419,4.284839
1,2015,1,NaN,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,...,3.775,9.45,0,-1.032258,-9.612903,53.645161,1019.387097,13.032258,11.677419,4.284839
2,2015,1,NaN,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,...,3.775,9.45,1,-1.032258,-9.612903,53.645161,1019.387097,13.032258,11.677419,4.284839
3,2015,2,NaN,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,...,3.625,10.20,2,-4.250000,-12.428571,53.892857,1017.607143,13.428571,11.750000,2.072800
4,2015,2,NaN,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,...,3.625,10.20,0,-4.250000,-12.428571,53.892857,1017.607143,13.428571,11.750000,2.072800

In [80]:
test1.columns

Index(['Year', 'Month', 'Sales(In ThousandDollars)',
       'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'ProductCategory', 'Temp avg (°C)', 'Dew Point avg (°C)',
       'Humidity (%) avg', 'Sea Level Press. (hPa) avg', 'Visibility (km) avg',
       'Wind (km/h) avg', 'Precip. (mm) sum'],
      dtype='object')

In [81]:
ProductCategory=lb.fit_transform(all2['ProductCategory'])
all2.drop('ProductCategory',axis=1,inplace=True)
all2['ProductCategory']=ProductCategory

In [82]:
x=train.drop('Sales(In ThousandDollars)',axis=1)
y=train['Sales(In ThousandDollars)']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=30)

In [83]:
tt=train1.drop(['Sales(In ThousandDollars)'],axis=1)
sc_train=pd.DataFrame(sc.fit_transform(tt))
ts=test1.drop(['Sales(In ThousandDollars)'],axis=1)
sc_test=pd.DataFrame(sc.transform(ts))

In [84]:
sc_train.columns=['Year', 'Month', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'ProductCategory', 'Temp avg (°C)',
       'Dew Point avg (°C)', 'Humidity (%) avg', 'Sea Level Press. (hPa) avg',
       'Visibility (km) avg', 'Wind (km/h) avg', 'Precip. (mm) sum']


sc_test.columns=['Year', 'Month', 'Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'ProductCategory', 'Temp avg (°C)',
       'Dew Point avg (°C)', 'Humidity (%) avg', 'Sea Level Press. (hPa) avg',
       'Visibility (km) avg', 'Wind (km/h) avg', 'Precip. (mm) sum']

In [85]:
sc_train['series']=np.arange(1,205)

In [86]:
con_tr=pd.DataFrame(train1[['Sales(In ThousandDollars)']])
con_tr['series']=np.arange(1,205)
con_ts=pd.DataFrame(test1[['Sales(In ThousandDollars)']])
con_ts['series']=np.arange(1,37)

sc_test['series']=np.arange(1,37)

In [90]:
test3.drop('Sales(In ThousandDollars)',axis=1,inplace=True)

In [88]:
train3=pd.merge(sc_train,con_tr)
test3=pd.merge(sc_test,con_ts)

In [89]:
train3=train3.drop('series',axis=1)
test3=test3.drop('series',axis=1)

# Building models combing different data sets togeather

In [91]:
from sklearn.ensemble import RandomForestRegressor
RF=RandomForestRegressor()

In [165]:
x=train3.drop('Sales(In ThousandDollars)',axis=1)
y=train3['Sales(In ThousandDollars)']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)

In [96]:
RF.fit(x_train,y_train)
w=RF.predict(x_test)

In [97]:
RMSE_train = np.sqrt(metrics.mean_squared_error(w,y_test))
RMSE_train

302.21516955586037

# Decesion tree

In [168]:
from sklearn.tree import DecisionTreeRegressor
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
d=dt.predict(x_test)

In [169]:
pca = PCA(n_components = 23,random_state=10) 
  
pcatr = pd.DataFrame(pca.fit_transform(sc_train))
pcats = pd.DataFrame(pca.transform(sc_test))

In [170]:
pcats.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,-101.184921,-2.759131,-0.128359,0.403485,3.838479,-1.558323,-0.833230,1.110104,1.521193,-0.978135,...,-1.487902,-2.111050,1.201921,-0.095914,-2.767380,-2.539495,5.392925,-0.393276,-3.409195,0.112092
1,-100.186123,-2.794291,-0.135139,0.452184,3.855601,-1.282369,0.498823,-0.906886,1.666338,-0.931771,...,-1.504260,-2.105381,1.200491,-0.087580,-2.776951,-2.534515,5.379537,-0.390987,-3.405982,0.111440
2,-99.187170,-2.778226,-0.123095,0.434985,3.832324,-1.408580,-0.164511,0.102807,1.577360,-0.946919,...,-1.497291,-2.093750,1.199894,-0.087720,-2.751016,-2.516404,5.347459,-0.388228,-3.381179,0.111418
3,-98.168206,-3.169568,0.604819,-0.063670,2.480605,-1.443778,-0.737800,1.175605,1.942068,-1.613692,...,-0.915096,-2.427351,1.235994,-0.606331,-2.753303,-2.930561,5.547586,-0.403873,-3.474506,-0.019654
4,-97.169408,-3.204728,0.598039,-0.014970,2.497727,-1.167824,0.594253,-0.841385,2.087214,-1.567328,...,-0.931454,-2.421682,1.234565,-0.597997,-2.762874,-2.925581,5.534199,-0.401584,-3.471293,-0.020306

In [171]:
pcatr.columns=['Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'ProductCategory', 'Temp avg (°C)',
       'Dew Point avg (°C)', 'Humidity (%) avg', 'Sea Level Press. (hPa) avg',
       'Visibility (km) avg', 'Wind (km/h) avg', 'Precip. (mm) sum']

pcats.columns=['Monthly Nominal GDP Index (inMillion$)',
       'Monthly Real GDP Index (inMillion$)', 'CPI', 'unemployment rate',
       'CommercialBankInterestRateonCreditCardPlans',
       'Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan',
       'Earnings or wages  in dollars per hour',
       'Cotton Monthly Price - US cents per Pound(lbs)', 'Change(in%)',
       'Average upland planted(million acres)',
       'Average upland harvested(million acres)', 'yieldperharvested acre',
       'Production (in  480-lb netweright in million bales)',
       'Mill use  (in  480-lb netweright in million bales)', 'Exports',
       'ProductCategory', 'Temp avg (°C)',
       'Dew Point avg (°C)', 'Humidity (%) avg', 'Sea Level Press. (hPa) avg',
       'Visibility (km) avg', 'Wind (km/h) avg', 'Precip. (mm) sum']

In [172]:
pcatr['series']=np.arange(1,205)
pca_tr=pd.DataFrame(train1[['Sales(In ThousandDollars)','Year','Month']])
pca_tr['series']=np.arange(1,205)
pca_ts=pd.DataFrame(test1[['Sales(In ThousandDollars)','Year','Month']])
pca_ts['series']=np.arange(1,37)

pcats['series']=np.arange(1,37)

train4=pd.merge(pcatr,pca_tr)
test4=pd.merge(pcats,pca_ts)

train4=train4.drop('series',axis=1)
test4=test4.drop('series',axis=1)

In [173]:
train4.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),...,Temp avg (°C),Dew Point avg (°C),Humidity (%) avg,Sea Level Press. (hPa) avg,Visibility (km) avg,Wind (km/h) avg,Precip. (mm) sum,Sales(In ThousandDollars),Year,Month
0,-101.546655,-3.127262,-0.464363,0.846905,2.985293,-2.692161,-1.979710,0.010151,-0.043188,-0.400811,...,-0.020132,-0.040563,-0.046636,0.052245,0.167160,0.047211,0.015214,1755.0,2009,1
1,-100.547857,-3.162422,-0.471143,0.895605,3.002415,-2.416207,-0.647658,-2.006839,0.101958,-0.354447,...,-0.011798,-0.050134,-0.041656,0.038857,0.169450,0.050424,0.014562,524.0,2009,1
2,-99.548904,-3.146357,-0.459099,0.878405,2.979138,-2.542418,-1.310992,-0.997146,0.012980,-0.369595,...,-0.011938,-0.024199,-0.023545,0.006779,0.172208,0.075228,0.014540,936.0,2009,1
3,-98.549578,-3.278094,-0.641249,-0.958896,1.824293,-2.557284,-1.070536,0.495572,0.031812,-0.313709,...,-0.090925,-0.111189,-0.185060,0.050588,-0.146973,-0.048482,-0.020567,1729.0,2009,2
4,-97.550780,-3.313254,-0.648030,-0.910197,1.841415,-2.281330,0.261516,-1.521418,0.176957,-0.267345,...,-0.082591,-0.120760,-0.180080,0.037200,-0.144683,-0.045269,-0.021219,496.0,2009,2

In [174]:
x=train4.drop('Sales(In ThousandDollars)',axis=1)
y=train4['Sales(In ThousandDollars)']

x_train_pca,x_test_pca,y_train_pca,y_test_pca=train_test_split(x,y,test_size=0.2,random_state=10)

In [175]:
x_test_pca.head()

,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),Change(in%),Average upland planted(million acres),...,ProductCategory,Temp avg (°C),Dew Point avg (°C),Humidity (%) avg,Sea Level Press. (hPa) avg,Visibility (km) avg,Wind (km/h) avg,Precip. (mm) sum,Year,Month
59,-42.560051,2.588801,2.000434,-0.795544,-1.646515,-0.269067,-0.953401,-0.745839,-0.218384,-0.495094,...,0.750273,0.436574,0.224764,0.239912,0.072173,0.007926,-0.015989,-0.020974,2010,9
35,-66.611046,-1.989297,-1.017497,0.429044,-0.315653,2.539533,-1.065322,-0.394085,-0.365910,-0.070486,...,-0.250491,0.649354,-0.154473,0.139457,-0.107372,-0.117263,0.029192,-0.003516,2009,12
47,-54.574736,-0.574691,-1.844705,-1.018525,-1.151252,0.187850,1.498605,-0.529094,-0.676132,1.294099,...,-0.179766,-0.115342,0.431732,-0.136932,0.096823,-0.073768,-0.013746,0.024639,2010,5
98,-3.464707,0.627918,0.001072,-1.627957,2.358819,0.437184,-0.685832,-0.454908,0.396996,-0.305782,...,0.354067,-0.321687,0.237817,0.128543,-0.096132,0.082769,0.032429,-0.021338,2011,11
101,-0.468292,-0.055716,-0.164958,-1.905643,2.491215,1.580259,-0.368279,-0.095429,0.624872,-0.147577,...,0.512732,-0.198359,0.181448,-0.009457,-0.196800,-0.007866,0.128231,0.015114,2011,12

In [176]:
from sklearn.ensemble import GradientBoostingRegressor
model_3 = GradientBoostingRegressor(n_estimators=2)
model_3.fit(x_train_pca,y_train_pca)
y_pred1=model_3.predict(x_test_pca)

In [177]:
RMSE_train = np.sqrt(metrics.mean_squared_error(y_pred1,y_test_pca))
RMSE_train

1122.1038725479027

In [178]:
test4.drop('Sales(In ThousandDollars)',axis=1,inplace=True)

In [181]:
RF.fit(x_train_pca,y_train_pca)
pca1=RF.predict(x_test_pca)

In [182]:
RMSE_train = np.sqrt(metrics.mean_squared_error(pca1,y_test_pca))
RMSE_train

437.2830776510795

In [191]:
df=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':pca1})
df.to_csv('sub9.csv',index=False)

In [192]:
from sklearn.linear_model import LogisticRegression

In [193]:
lr=LogisticRegression()
lr.fit(x_train_pca,y_train_pca)
pca2=RF.predict(test4)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [183]:
from sklearn.tree import ExtraTreeRegressor

In [184]:
ex=ExtraTreeRegressor()
ex.fit(x_train_pca,y_train_pca)
pca3=RF.predict(test4)

In [198]:
df=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':pca1})
df.to_csv('sub10.csv',index=False)

In [200]:
param_grid = {'n_neighbors' : [3,5,7,9],'metric' : ['euclidean','manhattan','minkowski']}
knn = KNeighborsRegressor()
clf1 = GridSearchCV(knn,param_grid,cv=2)
clf1.fit(x_train_pca,y_train_pca)

GridSearchCV(cv=2, error_score='raise-deprecating',
             estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30,
                                           metric='minkowski',
                                           metric_params=None, n_jobs=None,
                                           n_neighbors=5, p=2,
                                           weights='uniform'),
             iid='warn', n_jobs=None,
             param_grid={'metric': ['euclidean', 'manhattan', 'minkowski'],
                         'n_neighbors': [3, 5, 7, 9]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [202]:
clf1.predict(test4)

array([2036.14285714, 1538.57142857, 2036.14285714, 2036.14285714,
       1977.42857143, 2036.14285714, 2066.42857143, 1725.28571429,
       1725.28571429, 2610.85714286, 1284.28571429, 1819.        ,
       2290.71428571, 1328.71428571, 1403.        , 1746.85714286,
       1746.85714286, 1746.85714286, 2213.42857143, 1666.14285714,
       1823.42857143, 2316.57142857, 1306.42857143, 1834.42857143,
       3372.57142857, 1371.71428571, 1983.71428571, 2956.85714286,
       1453.14285714, 2435.57142857, 3662.85714286, 2007.28571429,
       2592.71428571, 2851.57142857, 2264.71428571, 2851.57142857])

In [203]:
df=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':pca1})
df.to_csv('sub11.csv',index=False)

In [204]:
from sklearn.tree import DecisionTreeRegressor

In [205]:
dt=DecisionTreeRegressor()

In [229]:
dt.fit(x_train,y_train)
t=dt.predict(test3)

In [230]:
df=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':t})
df.to_csv('sub12.csv',index=False)

In [255]:
all_data=pd.merge(data,we)

In [256]:
all_data.head()

,Year,Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),...,Sales(In ThousandDollars),PartyInPower,AdvertisingExpenses (in Thousand Dollars),Temp avg (°C),Dew Point avg (°C),Humidity (%) avg,Sea Level Press. (hPa) avg,Visibility (km) avg,Wind (km/h) avg,Precip. (mm) sum
0,2015,1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,...,NaN,Democrats,?,-1.032258,-9.612903,53.645161,1019.387097,13.032258,11.677419,4.284839
1,2015,1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,...,NaN,Democrats,?,-1.032258,-9.612903,53.645161,1019.387097,13.032258,11.677419,4.284839
2,2015,1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,...,NaN,Democrats,?,-1.032258,-9.612903,53.645161,1019.387097,13.032258,11.677419,4.284839
3,2015,2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,...,NaN,Democrats,?,-4.250000,-12.428571,53.892857,1017.607143,13.428571,11.750000,2.072800
4,2015,2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,...,NaN,Democrats,?,-4.250000,-12.428571,53.892857,1017.607143,13.428571,11.750000,2.072800

In [257]:
all_data.drop(['PartyInPower','AdvertisingExpenses (in Thousand Dollars)'],axis=1,inplace=True)

In [258]:
all_test=all_data.loc[:35,:]
all_test.shape

(36, 26)

In [260]:
all_train=all2.loc[36:,:]
all_train.shape

(204, 26)

In [362]:
x=all_train.drop('Sales(In ThousandDollars)',axis=1)
y=all_train['Sales(In ThousandDollars)']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=30)

In [262]:
dt.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

In [263]:
all_test.drop('Sales(In ThousandDollars)',axis=1,inplace=True)

//anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [267]:
dt.predict(all_test)

array([5664.,  560., 1468., 5664.,  560., 1468., 5664.,  785., 1468.,
       5664.,  785., 1468., 5664.,  687., 1468., 5664.,  687., 1468.,
       5664.,  687., 1468., 5664.,  681., 1468., 5664.,  681., 1468.,
       5664.,  801., 1468., 5664.,  801., 1468., 5664.,  930., 1475.])

In [265]:
all_test.head()

,Year,Month,Monthly Nominal GDP Index (inMillion$),Monthly Real GDP Index (inMillion$),CPI,unemployment rate,CommercialBankInterestRateonCreditCardPlans,"Finance Rate on Personal Loans at Commercial Banks, 24 Month Loan",Earnings or wages in dollars per hour,Cotton Monthly Price - US cents per Pound(lbs),...,Mill use (in 480-lb netweright in million bales),Exports,ProductCategory,Temp avg (°C),Dew Point avg (°C),Humidity (%) avg,Sea Level Press. (hPa) avg,Visibility (km) avg,Wind (km/h) avg,Precip. (mm) sum
0,2015,1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,...,3.775,9.45,2,-1.032258,-9.612903,53.645161,1019.387097,13.032258,11.677419,4.284839
1,2015,1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,...,3.775,9.45,0,-1.032258,-9.612903,53.645161,1019.387097,13.032258,11.677419,4.284839
2,2015,1,17792.116953,16319.786314,258.376,5.7,11.99,10.47,24.88,67.35,...,3.775,9.45,1,-1.032258,-9.612903,53.645161,1019.387097,13.032258,11.677419,4.284839
3,2015,2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,...,3.625,10.20,2,-4.250000,-12.428571,53.892857,1017.607143,13.428571,11.750000,2.072800
4,2015,2,17931.046190,16400.926737,259.240,5.5,11.98,9.85,25.05,69.84,...,3.625,10.20,0,-4.250000,-12.428571,53.892857,1017.607143,13.428571,11.750000,2.072800

In [268]:
!pip install tpot

Collecting tpot
  Using cached https://files.pythonhosted.org/packages/b5/4e/9ce813120662d9bd357aac6cb922f4b08b85049ed86eb47fe34a02d27f14/TPOT-0.10.2-py3-none-any.whl
Requirement already satisfied: numpy>=1.12.1 in /anaconda3/lib/python3.7/site-packages (from tpot) (1.16.4)
Requirement already satisfied: scikit-learn>=0.18.1 in /anaconda3/lib/python3.7/site-packages (from tpot) (0.21.2)
Collecting deap>=1.0 (from tpot)
  Downloading https://files.pythonhosted.org/packages/b7/16/6a25e3610f11e9e3d5e0928f9c7d09b94179a974394078849399e0b08f0b/deap-1.3.0-cp37-cp37m-macosx_10_14_x86_64.whl (187kB)
     |████████████████████████████████| 194kB 263kB/s eta 0:00:01
Collecting stopit>=1.1.1 (from tpot)
  Using cached https://files.pythonhosted.org/packages/35/58/e8bb0b0fb05baf07bbac1450c447d753da65f9701f551dca79823ce15d50/stopit-1.1.2.tar.gz
Requirement already satisfied: tqdm>=4.26.0 in /anaconda3/lib/python3.7/site-packages (from tpot) (4.32.1)
Requirement already satisfied: pandas>=0.20.2 in /anaconda3/lib/python3.7/site-packages (from tpot) (0.24.2)
Requirement already satisfied: scipy>=0.19.0 in /anaconda3/lib/python3.7/site-packages (from tpot) (1.3.0)
Requirement already satisfied: joblib>=0.10.3 in /anaconda3/lib/python3.7/site-packages (from tpot) (0.13.2)
Collecting update-checker>=0.16 (from tpot)
  Using cached https://files.pythonhosted.org/packages/17/c9/ab11855af164d03be0ff4fddd4c46a5bd44799a9ecc1770e01a669c21168/update_checker-0.16-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.5.0 in /anaconda3/lib/python3.7/site-packages (from pandas>=0.20.2->tpot) (2.8.0)
Requirement already satisfied: pytz>=2011k in /anaconda3/lib/python3.7/site-packages (from pandas>=0.20.2->tpot) (2019.1)
Requirement already satisfied: requests>=2.3.0 in /anaconda3/lib/python3.7/site-packages (from update-checker>=0.16->tpot) (2.22.0)
Requirement already satisfied: six>=1.5 in /anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas>=0.20.2->tpot) (1.12.0)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2019.6.16)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.24.2)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py) ... done
  Stored in directory: /Users/yashikabandaru/Library/Caches/pip/wheels/3c/85/2b/2580190404636bfc63e8de3dff629c03bb795021e1983a6cc7
Successfully built stopit
Installing collected packages: deap, stopit, update-checker, tpot
Successfully installed deap-1.3.0 stopit-1.1.2 tpot-0.10.2 update-checker-0.16

In [465]:
import tpot
from tpot import TPOTRegressor

In [528]:
tpt=TPOTRegressor(verbosity=2, max_time_mins=2, max_eval_time_mins=0.04, population_size=200)
#TPOTRegressor(verbosity=2, max_time_mins=2, max_eval_time_mins=0.04, population_size=15)
#tpt.fit(x_train,y_train)

In [529]:
tpt.fit(x,y)

Warning: xgboost.XGBRegressor is not available and will not be used by TPOT.

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=200, style=ProgressStyle(descript…

2.000821683333333 minutes have elapsed. TPOT will close down.
TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: RandomForestRegressor(ExtraTreesRegressor(input_matrix, bootstrap=True, max_features=0.25, min_samples_leaf=5, min_samples_split=11, n_estimators=100), bootstrap=False, max_features=0.9000000000000001, min_samples_leaf=2, min_samples_split=4, n_estimators=100)

TPOTRegressor(config_dict=None, crossover_rate=0.1, cv=5,
              disable_update_check=False, early_stop=None, generations=1000000,
              max_eval_time_mins=0.04, max_time_mins=2, memory=None,
              mutation_rate=0.9, n_jobs=1, offspring_size=None,
              periodic_checkpoint_folder=None, population_size=200,
              random_state=None, scoring=None, subsample=1.0, template=None,
              use_dask=False, verbosity=2, warm_start=False)

In [523]:
tpt=tpt.predict(test)
tpt

array([3849.18472266,  825.40711686, 1289.32394098, 3838.24029486,
        839.33543286, 1295.45458783, 4160.01074337,  827.16241954,
       1283.1977774 , 4176.76667068,  844.77675243, 1294.65871985,
       4207.32121079,  846.03769363, 1295.24588703, 4228.79066994,
        860.94086413, 1310.14905753, 4221.0142623 ,  853.16445649,
       1302.37264989, 4226.08462363,  858.23481782, 1308.11678523,
       4297.8840635 ,  874.70568891, 1324.58765632, 4289.42826959,
        865.54764701, 1314.1800699 , 4524.47190266,  866.99434211,
       1330.28110555, 5397.61890311, 1264.46454979, 1827.40273306])

In [525]:
df=pd.DataFrame({'S.No.':np.arange(1,37),'Sales':tpt})
df.to_csv('sub16.csv',index=False)

# Stack Generalization

In [109]:
x=train.drop('Sales(In ThousandDollars)',axis=1)
y=train['Sales(In ThousandDollars)']

In [130]:
x_train_tr,x_val,y_train_tr,y_val=train_test_split(x,y,test_size=0.2,random_state=10)

In [151]:
RF.fit(x_train_tr,y_train_tr)
r=RF.predict(x_val)

In [132]:
dt.fit(x_train_tr,y_train_tr)
d=dt.predict(x_val)

In [133]:
ex.fit(x_train_tr,y_train_tr)
e=ex.predict(x_val)

In [139]:
df=pd.DataFrame({'rf':r,'dt':d,'ex':e})
df.shape

(41, 3)

In [141]:
from sklearn.ensemble import AdaBoostRegressor
ad =AdaBoostRegressor()

ad.fit(df,y_val)

AdaBoostRegressor(base_estimator=None, learning_rate=1.0, loss='linear',
                  n_estimators=50, random_state=None)

In [153]:
dt_test=dt.predict(test)

In [154]:
ex_test=ex.predict(test)

In [155]:
rf_test=RF.predict(test)

In [156]:
df_1=pd.DataFrame({'dt':dt_test,'ex':ex_test,'rf':rf_test})

In [157]:
df_1.head()

       dt      ex      rf
0  4525.0  4434.0  4658.9
1   599.0   599.0   636.5
2  1468.0  1967.0  1323.4
3  4525.0  5664.0  4148.1
4   573.0   599.0   623.6

In [158]:
sales=ad.predict(df_1)